
.single-prompt {

  .canvas {

    .disabled {
      pointer-events: none;
    }

    .drawing-controls {
      align-items: center;
      border: 1px #9c9c9c solid;
      border-top: none;
      border-radius: 0px 0px 4px 4px;
      display: flex;
      flex-direction: row;
      gap: 8px;
      padding: 8px;

      .separator {
        border-right: 1px #9c9c9c solid;
        height: 20px;
        margin: 0px 5px;
      }

      .single-color-picker {
        border-radius: 50%;
        cursor: pointer;
        height: 20px;
        margin: 2px;
        transition: all .25s ease;
        width: 20px;

        &.is-white {
          border: 1px black solid;
          /* Make a smaller circle so that the width and height don't change when border is added. */
          height: 18px;
          width: 18px;
        }

        &.selected {
          width: 24px;
          height: 24px;
          margin: 0px;

          &.is-white {
            /* Make a smaller circle so that the width and height don't change when border is added. */
            height: 22px;
            width: 22px;
          }
        }
      }

      .more-color-picker-wrapper {
        display: flex;
        position: relative;

        .more-color-picker {
          border-radius: 50%;
          cursor: pointer;
          height: 24px;
          width: 24px;

          &:hover {
            background-color: #E8F1FE;
          }
        }

        .color-picker-tooltip {
          position: absolute;
          bottom: 28px;
        }
      }
    
      .canvas-tool {
        border-radius: 50%;
        cursor: pointer;
        height: 18px;
        padding: 3px;
        width: 18px;
    
        &.selected {
          background-color: #D3E5F9;
        }
    
        &:not(.selected):hover {
          background-color: #E8F1FE;
        }
      }
    }
  }
}
