.landing-page {

  .topic-buttons {
    align-items: center;
    background-color: #EDF4FD;
    border: #9c9c9c;
    border-radius: 8px;
    box-shadow: inset 0 0 10px #9c9c9c;
    color: #5C5C5C;
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-top: 30px;
    padding: 40px
  }
}
