.App {
}

.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  width: 100%;
}

.page-title {
  font-size: 32px;
  font-weight: 500;
  padding: 20px;

  .page-subtitle {
    font-size: 18px;
    font-weight: 300;
    padding-top: 5px;
  }
}